<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.studyproject2.mapper.mainMapper">
    <!-- 회원가입 -->
    <insert id="insertSignUp">
        insert into client values('${user_id}', ${user_pwd})
    </insert>

    <!-- ID 중복확인-->
    <select id="id_check" resultType="boolean">
        select EXISTS (select * from client where user_id= '${user_id}')
    </select>

    <!-- 로그인 시 가입자 확인-->
    <select id="loginCheck" resultType="com.example.studyproject2.userVO.userVO">
        select * from client where user_id = '${user_id}'
    </select>

    <!-- 로그인 횟수 -->
    <select id="selectLoginCount" resultType="com.example.studyproject2.userVO.userVO">
        select login_count from login_report where user_id = '${user_id}' order by login_count desc limit 1
    </select>

    <!-- 로그인 횟수 증가 -->
    <update id="updateLoginCount">
        update login_report set login_count = ${login_count}
        where login_count in
              (select login_count from login_report
                                  where user_id = '${user_id}' order by login_count desc limit 1)
    </update>

    <!-- 로그인 기록 -->
    <insert id="insertLoginReport">
        insert into login_report values('${user_id}', current_timestamp)
    </insert>

    <!-- 로그인 기록 가져오기 -->
    <select id="selectLoginReport" resultType="com.example.studyproject2.userVO.userVO">
        select login_time from login_report where user_id = '${user_id}' order by login_time desc limit 1
    </select>
</mapper>